@tailwind base;
@tailwind components;
@tailwind utilities;

/* code window */
[data-rehype-pretty-code-figure] {
  overflow: hidden;
  @apply border border-zinc-200 dark:border-zinc-800 rounded-lg bg-zinc-50/45 dark:bg-zinc-800/45;
}

/* code block */
[data-rehype-pretty-code-figure] pre {
  @apply bg-transparent dark:bg-zinc-900/80 rounded-none py-2 px-0 text-[13px] leading-6 overflow-x-auto;
}

/* title */
[data-rehype-pretty-code-title] {
  margin: 0;
  padding-top: 0.25rem;
  border-radius: 0.375rem;
  @apply border-b border-inherit bg-zinc-50/50 dark:bg-zinc-900/70 dark:text-zinc-500 text-xs font-mono py-2 px-3 rounded-b-none;
}

/* line */
[data-rehype-pretty-code-figure] [data-line] {
  @apply pl-2 pr-2  border-l-4 border-transparent;
}

/* line numbers */
code[data-line-numbers] {
  counter-reset: line;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  @apply mr-4 inline-block w-4 text-right text-zinc-400/80 dark:text-zinc-700;
}

/* highlighted line */
[data-rehype-pretty-code-figure] [data-highlighted-line] {
  @apply bg-purple-400/15 border-l-4 border-violet-400;
}

[data-rehype-pretty-code-figure] code {
  @apply grid;
}

.subheading-anchor {
  @apply font-bold no-underline hover:underline;
}

/* dark & light mode */
code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
}

@media (prefers-color-scheme: dark) {
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-dark);
  }
}

.prose :not(pre) > code {
  display: inline-block;
  margin: 0;
  padding: 0.12em 0.25em;
  color: inherit;
  line-height: 1.2;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-weight: inherit;
  border: 1px solid;
  border-radius: 0.375rem;
  @apply bg-zinc-100 border-zinc-200 dark:bg-zinc-800 dark:border-zinc-700;

  &::before,
  &::after {
    content: "";
  }
}

.custom-border {
  animation: dash 10s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 100%;
  }
}
